<div id ="login">
<table>
    <tr>
    <td><label><input [(ngModel)]="username" placeholder="Username">
        <input [(ngModel)]="password" placeholder="Password"></label></td>
    <nav>

        <td><button (click)="displayContent">LOGIN/LOGOUT</button></td> 
    </nav>
    <br><br>
    
   
     <br>
     
                                                                                                                                                                                                                                                                                                
    </tr> 
</table>


</div>

